# Last test results:
```
trash_tests % sh runtests.sh      
trash_tests.bats
 ✓ Check trash tool path
 ✓ Check trash directory exists
 ✓ Recover file from trash
 ✓ Move file to trash
 ✓ List with regex filter
 ✓ Recursive listing
 ✓ Select specific folder
 ✓ Empty trash older than N days
 ✓ Multiple file trash
 ✓ Empty specific file from trash
 ✓ Multiple file emptying
 ✓ File collision handling
 ✓ Directory collision with nested structure
 ✓ Nested directory recovery with collisions
 ✓ Multiple directory level collisions
 ✓ Handle special characters in filenames
 ✓ Handle unicode characters in filenames
 ✓ Handle file with no read permission
 ✓ Handle file with no write permission

19 tests, 0 failures

```
